@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
#wrapper{
	width:960px;
	background-color: rgba(255,255,255,0.4);
	overflow: hidden;
	margin: 0 auto;
}
header{
	width:960px;
}
main{
	width: 960px;
	margin-bottom: 10px;
	float: left;
	border-top: #D9D5D5 1px solid;
	padding-top: 10px;
	margin-top: 15px;
	
}
footer{
	width:960px;
	float:left;
	border-top: #D9D5D5 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-bottom: 40px;
	background-color: burlywood;
}

.column{
	width:220px;
	margin: 0px 10px;
	margin-top: 50px;
	float:left;
}
.column1
{
	width:720px;
	float: right;
}
.order
{	
	width:220;
	float: right;
}

h2{
	font-size: 17px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Righteous', cursive;
		
}

p{
	font-size: 17px;
}
small{
	font-size: 14px;
	font-family: 'Orbitron', sans-serif;
}
.logoarea
{
	width: 960px;
	border-top: #D9D5D5 1px solid;
	padding-top: 25px;
	padding-left: 0px;
	margin-bottom: 0px;
	margin: auto
}
