@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header{
	margin-left: 0px;
	background-color: lightblue;
	width: auto;
	height: 200px;
	border: solid;
	border-color: black;
}
h1
{
	align-content: center;
	text-align: left;
	font-size: 50px;
	border-bottom: 0px;
	width: 550px;
	margin-left: 242px;
	margin-bottom: 0px;
	font-family: 'Righteous', cursive;
	
}

h3{
	align-content: center;
	text-align: left;
	margin-left: 245px;
	margin-bottom: 0px;
	font-size: 28px;
	width: 500px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Righteous', cursive;
}

.logoarea
{
	width: 250px;
	height: 50px;
	margin-bottom: 0px;
	
}
img{
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-right: 10px;
	border: solid;
	border-color: black;
	transition-duration: 0.3s;
	max-height: 200px;
	}
.button1{
	float: center;
	display: inline-block;
	transition-duration: 0.3s;
	width: 200px;
	height: 50px;
	border: solid;
	margin-top: 30px;
	margin-left: 30px;
	
	background-color: steelblue;
	text-align: center;
	font-size: 35px;
	font-family: 'Righteous', cursive;
	border-radius: 20px;
	
}
.button2{
	float: center;
	display: inline-block;
	transition-duration: 0.3s;
	width: 200px;
	height: 50px;
	border: solid;
	margin-top: 30px;
	margin-left: 30px;
	background-color: steelblue;
	text-align: center;
	font-size: 35px;
	font-family: 'Righteous', cursive;
	border-radius: 20px;
}
.button3{
	float: center;
	display: inline-block;
	transition-duration: 0.3s;
	width: 200px;
	height: 50px;
	border: solid;
	margin-top: 30px;
	margin-left: 30px;
	background-color: steelblue;
	text-align: center;
	font-size: 35px;
	font-family: 'Righteous', cursive;
	border-radius: 20px;
}
.button4{
	float: center;
	display: inline-block;
	transition-duration: 0.3s;
	width: 200px;
	height: 50px;
	border: solid;
	margin-top: 30px;
	margin-left: 30px;
	background-color: steelblue;
	text-align: center;
	font-size: 35px;
	font-family: 'Righteous', cursive;
	border-radius: 20px;
	
	
}
.button1:hover{
	background-color: cyan;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button2:hover{
	background-color: cyan;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button3:hover{
	background-color: cyan;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button4:hover{
	background-color: cyan;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button1:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button2:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button3:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button4:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
h2{
	color: white;
}
.portfolioarea
{
	background-color: lightcyan;
	float: auto;
	border: solid;
	width: auto;
	height: auto;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: 20px;
}
p{
	font-size: 20px;
	margin-left: 10px;
	margin-top: 10px;
	font-family: 'Orbitron', sans-serif;
}
.pics{
	float: center;
}


embed{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	align-content: center;
	alignment-baseline: center;
}
/* HTML5 display-role reset for older browsers */